body{
    background-color: black;
    color: yellow;
}

h1{
    text-align: center;
}

h3{
    text-align: center;
}

.completed {
    background-color: orange;
}

.notCompleted {
    background-color: red;
}

label {
    font-style: italic;
	color: yellow;
	display: block;
	padding: 10px;
	margin: 3px;
}

th{
    width: 25%;
    border: 1px solid;
    border-color: yellow;
}
input{
    border-color: yellow;
}

td{
    border: 1px solid;

}